@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body {
    background-color: hsl(0, 0%, 95%);
    font-size: .9375rem;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
    width: 13.75rem;
    height: 28.125rem;
    padding: 3.125rem;
    border-radius: .625rem 0rem 0rem .625rem;
}

.suv {
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
    width: 13.75rem;
    height: 28.125rem;
    padding: 3.125rem;
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
    width: 13.75rem;
    height: 28.125rem;
    padding: 3.125rem;
    border-radius: 0rem .625rem .625rem 0rem;
}

h1 {
    font-family: "Big Shoulders Display";
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: uppercase;
}

p{
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.8;
}

.learn-sedan {
    background-color: hsl(0, 0%, 95%);
    color: hsl(31, 77%, 52%);
    font-size: .9375rem;
    font-weight: 700;
    height: 3.125rem;
    width: 9.375rem;
    border-style: none;
    border-radius: 1.875rem;
    margin-top: 5.625rem;
    transition: all ease-in-out 300ms;
}

.learn-sedan:hover {
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
    font-size: .9375rem;
    font-weight: 700;
    height: 3.125rem;
    width: 9.375rem;
    border: .125rem solid hsl(0, 0%, 95%);
    border-radius: 1.875rem;
}

.learn-suv {
    background-color: hsl(0, 0%, 95%);
    color: hsl(184, 100%, 22%);
    font-size: .9375rem;
    font-weight: 700;
    height: 3.125rem;
    width: 9.375rem;
    border-style: none;
    border-radius: 1.875rem;
    margin-top: 5.625rem;
    transition: all ease-in-out 300ms;
}

.learn-suv:hover {
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
    font-size: .9375rem;
    font-weight: 700;
    height: 3.125rem;
    width: 9.375rem;
    border: .125rem solid hsl(0, 0%, 95%);
    border-radius: 1.875rem;
}

.learn-luxury {
    background-color: hsl(0, 0%, 95%);
    color: hsl(179, 100%, 13%);
    font-size: .9375rem;
    font-weight: 700;
    height: 3.125rem;
    width: 9.375rem;
    border-style: none;
    border-radius: 1.875rem;
    margin-top: 5.625rem;
    transition: all ease-in-out 300ms;
}

.learn-luxury:hover {
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
    font-size: .9375rem;
    font-weight: 700;
    height: 3.125rem;
    width: 9.375rem;
    border: .125rem solid hsl(0, 0%, 95%);
    border-radius: 1.875rem;
}

footer { 
    font-size: .6875rem; 
    text-align: center; 
}

footer a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 800px) {
    section {
        display: flex;
        flex-direction: column;
    }

    .sedans {
        border-radius: .625rem .625rem 0rem 0rem;
    }

    .luxury {
        border-radius: 0rem 0rem .625rem .625rem;
    }
}